body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

input {
  width: 100px;
}

.bigFlex {
  display: flex;
  flex-direction: column;
}

#pageContent {
  height: 100px;
}
